* {
    margin: 0;
    padding: 0;
}

.color1 {
    background-color: rgb(8, 1, 1);
}

.color2 {
    background-color: rgb(2, 2, 34);
}

.color3 {
    background-color: rgb(43, 43, 4);
}

.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #111; */
    height: 100vh;
}

.loader {
    position: relative;
    /* background-color: white; */
}